<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Package Creation page</title>
    <link href="../../css/style.css" data-th-href="@{/css/style.css}" rel="stylesheet">
    <link href="../../css/style.css" data-th-href="@{/css/style.css}" rel="stylesheet">
</head>
<body class="has-background-white">
<section class="container py-5 vh100">
    <div class="has-text-left">
        <div data-th-text="'Signed in as ' + ${session.employee.nickname}"></div>
        <a href="#" data-th-href="@{/employee/logout}">Logout</a>
    </div>
    <div class="has-text-centered mb-6">
        <h1 class="title">Creation page</h1>
    </div><br>
<div class="container">
    <div class="box">
        <h1>Choose one or more services you would like to insert in the new package service:</h1><br>
        <div th:if="${services} != null" th:each="service: ${services}">
            <!--/*@thymesVar id="service" type="it.polimi.db2.entities.ServiceEntity"*/-->
            <input type="checkbox" th:id="${service.id}" name="selectedService" th:value="${service.getId()}">
            <label th:for="${service.id}" th:text="${service.getOffer()}"></label>
                <div th:if="(${service.getOffer().toString()} == 'FP') and (${service.getFiGBs()} != null)" th:text="${service.getFiGBs()} + 'at: ' + ${service.getFiExtraGBsCost()} + '$'" style="display: flex"></div>
                <div th:if="(${service.getOffer().toString()} == 'MP') and (${service.getMpSms()} != null) and (${service.getMpMins()} != null)" th:text="${service.getMpSms()} + ' and ' + ${service.getMpMins()} + ' at: ' + ${service.getMpExtraMinsCost() } + '$'" style="display: flex"></div>
                <div th:if="(${service.getOffer().toString()} == 'MI') and (${service.getMiGBs()} != null)" th:text="${service.getMiGBs()} + ' at: ' + ${service.getMiExtraGBsCost()} + '$' " style="display: flex"></div>

        </div>
        <br><h2>Or else, create a new one:</h2><br>
        <form method="get" data-th-action="@{'/employee/serviceSelection'}">
            <div class="has-text-left">
                <button type="submit" class="button is-primary is-medium" name="goToServiceSelection" th:value="true" style="background-color: lightskyblue"> Create new Service </button>
            </div>
        </form>
    </div><br>
    </div>
    <div class="container">
        <h2>Choose among the available validity periods: </h2><br>
        <div class="box" aria-required="true">
            <div th:if="${validityPeriodEntityList} != null" th:each="validityPeriodEntity : ${validityPeriodEntityList}" class="my-2">

                    <!--/*@thymesVar id="validityPeriodEntity" type="it.polimi.db2.entities.ValidityPeriodEntity"*/-->
                    <input type="checkbox" th:id="'vp' + ${validityPeriodEntity.id}" name="selectedValidityPeriod" th:value="${validityPeriodEntity.getId()}">
                    <label th:for="'vp' + ${validityPeriodEntity.id}" th:text="${validityPeriodEntity.getMonths()} + ' months, at: ' + ${validityPeriodEntity.getCostPerMonth()} + '$ per month. (Total of ' + ${validityPeriodEntity.getMonths()} * ${validityPeriodEntity.getCostPerMonth()} + '$)'"></label>
            </div>
        <br><h3>Or else, create a new one:</h3><br>
            <form method="get" data-th-action="@{'/employee/validity'}">
                <div class="has-text-left">
                    <button type="submit" class="button is-primary is-medium" name="goToValidity" th:value="true" style="background-color: lightskyblue"> Create new Validity Period </button>
                </div>
            </form>
        </div>
    </div><br>
    <div class="container">
        <div class="box">
            <h4>You can choose optional services:</h4><br>
            <div th:if="${optionalProductEntityList} != null" th:each="optionalProductEntity : ${optionalProductEntityList}" class="my-2">
            <!--/*@thymesVar id="optionalProductEntity" type="it.polimi.db2.entities.OptionalProductEntity"*/-->
            <input type="checkbox" th:id="${optionalProductEntity.id}" name="selectedValidityPeriod" th:value="${optionalProductEntity.getId()}">
            <label th:for=" 'op' + ${optionalProductEntity.id}" th:text="${optionalProductEntity.getTitle()} + ' for: ' + ${optionalProductEntity.getMonthlyFee()} + '$ per month.' "></label>
            </div>
            <br><h5>You can also create a new one if you do not like the ones in the database:</h5><br>
            <div>
                <form method="get" data-th-action="@{'/employee/optional'}">
                    <div class="has-text-left">
                        <button type="submit" class="button is-primary is-medium" name="goToOptional" th:value="true" style="background-color: lightskyblue"> Create new Optional </button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    <br>
    <form method="post" data-th-action="@{'/employee/package'}">
    <div class="has-text-centered">
        <input type="submit" class="button is-primary is-medium" style="background-color: lightskyblue" value="Submit">
    </div>
    </form>
</section>
</body>
</html>