/* Aspetto menu */
.site-nav a
{
    line-height:1;
    padding:1em;
    background-color: lightskyblue; /* Colore di sfondo iniziale */
    color:#fff; /* Colore del testo dei link */
    font-weight: bold;
    white-space:nowrap;
}
.site-nav .flyout:hover > a,
.site-nav .flyout-alt:hover > a,
.site-nav a:hover
{
    background-color: #ba0202; /* Colore di sfondo sull'hover */
}
.site-nav .flyout-alt > a:after
{
    content:" »";
} /* Inseriamo l'indicatore di presenza del sottomenu */
.site-nav a,
.site-nav .flyout-content
{
    /* Colore e stile dei bordi;
    azzeriamo lo spessore con 0px
    */
    border: 0px solid #000;
}
.site-nav > li > a
{
    /* Bordo sinistro sulle voci del menu principale */
    border-left-color: #0a0a0a;
}
.site-nav > li:first-child > a
{
    /* Eliminiamo il bordo dalla prima voce del menu */
    border:none;
}
.site-nav .flyout-content
{
    /* Bordo superiore per il sottomenu */
    border-top-: 0 0 0;
}
.site-nav .flyout-content a
{
    /* Bordo inferiore per le singole voci del sottomenu */
    border-bottom-color: #0a0a0a;
}
.site-nav .flyout-alt:hover > .flyout-content
{
    /* Un piccolo aggiustamento per la posizione del
    sottomenu sull'hover
    */
    top:-1px;
}
/* Fine aspetto menu */