/* Struttura menu */
.nav
{
    list-style:none;
    margin:0;
    padding: 0;
}
.nav > li,
.nav > li > a
{
    display:inline-block;
    *display:inline; /* Per IE7 */
    zoom:1; /* Per IE 7 */
}
.stacked > li
{
    display:list-item;
}
.stacked > li > a
{
    display:block;
}
.flyout,
.flyout-alt
{
    position:relative;
}
.flyout-content
{
    position:absolute;
    top:100%;
    /* Posizioniamo i sottomenu fuori dallo
    schermo; alternativa a display:none
    */
    left:-99999px;
    height:0;
    overflow:hidden;
}
.flyout:hover > .flyout-content
{
    left:0;
}
.flyout-alt:hover > .flyout-content
{
    top:0;
    left:100%;
}
.flyout:hover > .flyout-content,
.flyout-alt:hover > .flyout-content
{
    height:auto;
    overflow:visible;
}
/* Fine struttura menu */