<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cart</title>
    <link href="css/style.css" data-th-ref="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container, has-text-centered mb-5">
    <h1> This is your cart: </h1>
</div>
<div class="container">
    <div class="box">
        <span th:text="${session.filledOrder.getBundle().getTitle()} + ' for ' +
        ${session.filledOrder.getValidityPeriod().getMonths()} + ' months at ' +
        ${session.filledOrder.getValidityPeriod().getCostPerMonth()} + '$ per month.'"></span>
        <br>
        <!--/*@thymesVar id="optional" type="it.polimi.db2.entities.OptionalProductEntity"*/-->
        <span th:if="${session.filledOrder.getChosenOptionals()} != null"
              th:each="optional: ${session.filledOrder.getChosenOptionals()}"
              th:text="${optional.getTitle()} + ' at ' + ${optional.getMonthlyFee()} + '$ per month.'"></span>
        <br>
        <span th:text="'Total cost: ' + ${session.filledOrder.getTotalExpenditure()} + '$'"></span>
    </div>
</div>
</body>
</html>
