<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cart</title>
    <link href="../../css/style.css" data-th-href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container, has-text-centered mb-5">
    <h1> This is your cart: </h1>
</div>
<div class="container">
    <div class="box" th:if="${session.orderToRepay == null or session.orderToRepay == false}">
        <span th:text="${session.filledOrder.getBundle().getTitle()} + ' for ' +
        ${session.filledOrder.getValidityPeriod().getMonths()} + ' months at ' +
        ${session.filledOrder.getValidityPeriod().getCostPerMonth()} + '$ per month.'"></span>
        <br>
        <!--/*@thymesVar id="optional" type="it.polimi.db2.entities.OptionalProductEntity"*/-->
        <span th:if="${session.filledOrder.getChosenOptionals()} != null"
              th:each="optional: ${session.filledOrder.getChosenOptionals()}"
              th:text="${optional.getTitle()} + ' at ' + ${optional.getMonthlyFee()} + '$ per month.'"></span>
        <br>
        <span th:text="'Total cost: ' + ${session.filledOrder.getTotalExpenditure()} + '$'"></span>
    </div>
</div>

<div class="container" th:if="${session.orderToRepay} == true">
    <div class="box">
        <span>Repay the selected order</span>
    </div>
</div>

<div class="container">
    <div th:if="${session.user} != null">
        <div class="box">
            <form method="post" data-th-action="@{/cart}">
                <button type="submit" class="button is-primary is-small" style="background-color: #2160c4" name="purchaseOk" th:value="true">Purchase OK</button>
            </form>
            <br>
            <form method="post" data-th-action="@{/cart}">
                <button type="submit" class="button is-primary is-small" style="background-color: #2160c4" name="purchaseKo" th:value="true">Purchase KO</button>
            </form>
        </div>
    </div>
    <div th:if="${session.user} == null">
        <div class="box">
            <label>It seems like you're not logged, choose one of the options: </label>
            <br>
            <form method="get" data-th-action="@{/login}">
                <button type="submit" class="button is-primary is-small" style="background-color: #2160c4" name="doRedirect" th:value="true">Login</button>
            </form>
            <br>
            <form method="get" data-th-action="@{/register}">
                <button type="submit" class="button is-primary is-small" style="background-color: #2160c4" name="doRedirect" th:value="true">Register</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
