<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link href="css/style.css" data-th-ref="@{/css/style.css}" rel="stylesheet">
</head>
<body class="has-background-white">
<section class="hero-is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div data-th-if="${session.user == null}" class="column is-left" style="text-align:left;"
                 data-th-text="'Guest User'"></div>
            <div data-th-if="${session.user != null}" class="column is-4 is-offset-4">
                <div data-th-text="'Logged in as: ' + ${session.user.nickname} "></div>
                <a data-th-href="@{/logout}">Logout</a>
            </div>
            <div class="has-text-centered mb-5">
                <h1 class="title">Homepage</h1>
            </div>
        </div>
        <div th:each="product: ${products}" class="my-2">
            <strong>
            <!--/*@thymesVar id="product" type="it.polimi.db2.utils.Product"*/-->
            <span th:text="${product.getBundle().getTitle()}"></span>
            </strong>
            <br>
            <form method="post" data-th-action="@{'/homepage'}">
                <div>
                    <!--/*@thymesVar id="product" type="it.polimi.db2.utils.Product"*/-->
                    <button type="submit" class="button is-primary is-small" style="background-color: #2160c4" name="buyButton" th:value="${product.getBundle().getId()}">
                        Buy Bundle
                    </button>
                </div>
            </form>
            <div data-th-each="service: ${product.services}">
                <strong><span data-th-if="${service.offer} == 'FP'">Fixed Phone</span></strong>
                <strong><span data-th-if="${service.offer} == 'FI'">Fixed Internet</span></strong>
                <strong><span data-th-if="${service.offer} == 'MP'">Mobile Phone</span></strong>
                <strong><span data-th-if="${service.offer} == 'MI'">Mobile Internet</span></strong>
            </div>
            <div data-th-each="period: ${product.validityPeriods}">
                <strong><span data-th-text="${period.months} + ' months at: ' + '$' + ${period.costPerMonth} + '/month.'"></span></strong>
            </div>
        </div>
    </div>
</section>
</body>
</html>
