<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fill Details</title>
    <link href="../../css/style.css" data-th-href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="container, has-text-centered mb-5">
        <h1 class="title" th:text="${session.currentProduct.getBundle().getTitle()}"></h1>
    </div>
    <div class="container">
        <div class="box" th:each=" service: ${session.currentProduct.getServices()}">
            <div>
                <ul>
                    <li>
                        <strong>
                            <span data-th-if="${service.offer} == 'FP'">
                                Fixed Phone
                            </span>
                        </strong>
                        <strong>
                            <span data-th-if="${service.offer} == 'FI'">
                                Fixed Internet
                            </span>
                        </strong>
                            <span data-th-if="${service.offer} == 'FI'"
                                  data-th-text="' - GigaBytes: ' + ${service.fiGBs} + '. Extra $/GB ' + ${service.fiExtraGBsCost}">
                            </span>
                        <strong>
                            <span data-th-if="${service.offer} == 'MP'">
                                Mobile Phone
                            </span>
                        </strong>
                            <span data-th-if="${service.offer} == 'MP'"
                                  data-th-text="' - Mins: ' + ${service.mpMins} + '. Extra $/Min ' + ${service.mpExtraMinsCost} + '. Sms: ' + ${service.mpSms} + '. Extra $/Sms ' + ${service.mpExtraSmsCost}">
                            </span>
                        <strong>
                            <span data-th-if="${service.offer} == 'MI'">
                                Mobile Internet
                            </span>
                        </strong>
                            <span data-th-if="${service.offer} == 'MI'"
                                  data-th-text="' - GigaBytes: ' + ${service.miGBs} + '. Extra $/GB ' + ${service.miExtraGBsCost}">
                            </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <form name="selectionForm" data-th-action="@{'/order'}" method="post">
        <div class="container">
            <div class="box">
                <fieldset id="periods">
                    <legend>Select a Validity Period</legend>
                    <div th:each="period : ${session.currentProduct.getValidityPeriods()}">
                        <!--/*@thymesVar id="period" type="it.polimi.db2.entities.ValidityPeriodEntity"*/-->
                        <input type="radio" th:id="'vp' + ${period.id}" name="selectedValidityPeriod" th:value="${period.getId()}" required>
                        <label th:for="'vp' + ${period.id}" th:text="${period.getMonths()} + ' months, at: ' + ${period.getCostPerMonth()} + '$ per month. (Total of ' + ${period.getMonths()} * ${period.getCostPerMonth()} + '$)'"></label>
                    </div>
                </fieldset>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="box">
                <fieldset id="optionals">
                    <legend>Choose your Optional Products</legend>
                    <div th:if="${session.currentProduct.getAvailableOptionals() != null}" th:each=" optional: ${session.currentProduct.getAvailableOptionals()}">
                        <!--/*@thymesVar id="optional" type="it.polimi.db2.entities.OptionalProductEntity"*/-->
                        <!--/*@thymesVar id="listOptionals" type="java.util.ArrayList<it.polimi.db2.entities.OptionalProductEntity>"*/-->
                        <input type="checkbox" th:id="'op' + ${optional.id}" th:name="'selectedOptional' + ${optional.getId()}" th:value="${optional.getId()}">
                        <label th:for="'op' + ${optional.id}" th:text="${optional.getTitle()} + ' for: ' + ${optional.getMonthlyFee()} + '$ per month.'"></label>
                    </div>
                </fieldset>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="box">
                <input type="date" id="start" name="subscriptionStart" th:min="${session.today}" required>
                <label>Choose subscription start date</label>
            </div>
        </div>
        <br>
        <div class="has-text-centered">
            <input type="submit" class="button is-primary is-medium" style="background-color: #2160c4" value="Submit">
        </div>
        <br>
    </form>
</body>
</html>

